.navigation-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 40px;

	a {
		line-height: 1;
		color: $main-color;
		&:hover {
			color: $main-color-hover;
		}

		&.active {
			color: $main-color-hover;
			font-weight: 700;
		}
	}
}
